$color-blue: #001f5f;
$color-lightblue: #2196f3;

$color-green: #00aea4;
$color-lightgreen: #00d2b5;

$color-orange: #ff5e4d;
$color-darkorange: #ff3900;

$color-gray: #6a6f85;
$color-lightgray: #a4abb8;
