@import './global/colors';
@import './global/fonts';

@import './pages/center.scss';
@import './pages/livestream.scss';
@import './pages/search_content.scss';

:root {
    --background-light-color: #0051a4;
    --background-dark-color: #003469;
    --hightlight-color: #ff6633;
}
