.section {
    width: 100%;
    margin: 0;
    background-color: var(--background-dark-color);
    padding: 2.8em 0;
    color: #fff;
    a {
        cursor: pointer !important;
    }

    &:nth-child(2n + 1) {
        background-color: var(--background-light-color);
    }

    .title-sup {
        margin: 0;
        color: var(--hightlight-color);
    }

    .title {
        font-size: 2.8em !important;
        margin-top: 0.2em;
        margin-bottom: 1em;
    }

    /* Date Selector Section */
    .dates {
        margin-top: 1em;
        ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            padding: 0;
            li {
                height: 8.25em;
                width: 8.25em;
                list-style: none;
                border: 1px solid #fff;
                text-align: center;
                &:hover,
                &.current-date {
                    background-color: #0066cc !important;
                    border-color: #0066cc !important;
                }
                &.past-date {
                    background-color: rgba(0, 0, 0, 0.3);
                }

                a {
                    padding: 0.8em 1em;
                    display: block;
                    text-decoration: none !important;
                    h2 {
                        font-size: 2.8em;
                        margin: 0;
                        color: var(--hightlight-color);
                    }
                    h3 {
                        font-size: 1.1em;
                        transition: none;
                    }
                }
            }
        }
    }

    /* Video Player Section */
    .video_container {
        padding: 1em 2em;
        max-width: 80%;
        h2 {
            font-weight: bold;
        }
        iframe {
            width: 85vw;
            height: 50vw;
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }
    }

    @media (min-width: 1201px) {
        .container {
            width: 95%;
            max-width: 1200px;
        }
        .dates ul li {
            margin: 16px 0;
        }
        .video_container {
            iframe {
                height: 35vw;
            }
        }
        @media (max-width: 1200px) and (min-width: 993px) {
            .container {
                width: 95%;
                max-width: 960px;
            }
            .dates ul li {
                width: 7em;
            }
        }
        @media (max-width: 992px) {
            .dates {
                ul {
                    justify-content: center !important;
                    li {
                        margin: 0.5em;
                    }
                }
            }
        }
        @media (max-width: 992px) and (min-width: 768px) {
        }
        @media (max-width: 767px) and (min-width: 521px) {
        }
        @media (max-width: 520px) {
        }
    }
}
